<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TestOpenURL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>testscheme1</string>
        <string>testscheme2</string>
        <string>testscheme3</string>
        <string>testscheme4</string>
        <string>testscheme5</string>
        <string>testscheme6</string>
        <string>testscheme7</string>
        <string>testscheme8</string>
        <string>testscheme9</string>
        <string>testscheme10</string>
        <string>testscheme11</string>
        <string>testscheme12</string>
        <string>testscheme13</string>
        <string>testscheme14</string>
        <string>testscheme15</string>
        <string>testscheme16</string>
        <string>testscheme17</string>
        <string>testscheme18</string>
        <string>testscheme19</string>
        <string>testscheme20</string>
        <string>testscheme21</string>
        <string>testscheme22</string>
        <string>testscheme23</string>
        <string>testscheme24</string>
        <string>testscheme25</string>
        <string>testscheme26</string>
        <string>testscheme27</string>
        <string>testscheme28</string>
        <string>testscheme29</string>
        <string>testscheme30</string>
        <string>testscheme31</string>
        <string>testscheme32</string>
        <string>testscheme33</string>
        <string>testscheme34</string>
        <string>testscheme35</string>
        <string>testscheme36</string>
        <string>testscheme37</string>
        <string>testscheme38</string>
        <string>testscheme39</string>
        <string>testscheme40</string>
        <string>testscheme41</string>
        <string>testscheme42</string>
        <string>testscheme43</string>
        <string>testscheme44</string>
        <string>testscheme45</string>
        <string>testscheme46</string>
        <string>testscheme47</string>
        <string>testscheme48</string>
        <string>testscheme49</string>
        <string>testscheme50</string>
        <string>testscheme51</string>
        <string>testscheme52</string>
        <string>testscheme53</string>
        <string>testscheme54</string>
        <string>testscheme55</string>
        <string>testscheme56</string>
        <string>testscheme57</string>
        <string>testscheme58</string>
        <string>testscheme59</string>
        <string>testscheme60</string>
        <string>testscheme61</string>
        <string>testscheme62</string>
        <string>testscheme63</string>
        <string>testscheme64</string>
        <string>testscheme65</string>
        <string>testscheme66</string>
        <string>testscheme67</string>
        <string>testscheme68</string>
        <string>testscheme69</string>
        <string>testscheme70</string>
        <string>testscheme71</string>
        <string>testscheme72</string>
        <string>testscheme73</string>
        <string>testscheme74</string>
        <string>testscheme75</string>
        <string>testscheme76</string>
        <string>testscheme77</string>
        <string>testscheme78</string>
        <string>testscheme79</string>
        <string>testscheme80</string>
        <string>testscheme81</string>
        <string>testscheme82</string>
        <string>testscheme83</string>
        <string>testscheme84</string>
        <string>testscheme85</string>
        <string>testscheme86</string>
        <string>testscheme87</string>
        <string>testscheme88</string>
        <string>testscheme89</string>
        <string>testscheme90</string>
        <string>testscheme91</string>
        <string>testscheme92</string>
        <string>testscheme93</string>
        <string>testscheme94</string>
        <string>testscheme95</string>
        <string>testscheme96</string>
        <string>testscheme97</string>
        <string>testscheme98</string>
        <string>testscheme99</string>
        <string>testscheme100</string>
        <string>weixin</string>
        <string>wechat</string>
    </array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
